/*#top{*/
/*    min-height: 100%;*/
/*    height: 100px;*/
/*    margin: 0 auto -60px;*/
/*    padding: 0 0 60px;*/
/*}*/
/*.header{*/
/*    display: flex;*/
/*    justify-content: center;*/

/*    position: relative;*/
/*    left: 0;*/
/*}*/
#jpg_zut {
    display: inline-block;
    position: relative;
    left: 25px;
    margin-top: 20px;
}

#content_zut{
    position: absolute;
    left: 150px;
    top: 15px;
    margin-bottom: 10px;
}
